#root {
  text-align: center;
  width: 100vw;
}

.game {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexR {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexC {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffde;
  background-color: #242424;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

select {
  color: #242424;
  background-color: #ffffffde;
  border: none;
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
}

select:hover {
  background-color: #ffffffde;
  color: #242424;
}

option {
  margin: 10px;
  padding: 10px;
}

.help {
  color: #ffffffde;
  margin: 10px;
  text-align: center;
}

.left {
  text-align: center;
  width: 340px;
  border-right: thin solid #ddd;
}

.right {
  text-align: center;
  padding: 10px;
  width: 340px;
}

.star {
	display: inline-block;
  background-color: transparent;
  margin: 3px 15px;
  color: yellow;
}

.main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .left {
    border-right: none;
    border-bottom: thin solid #ddd;
  }
}

.star:after {
  content: "\2605";
  font-size: 45px;
  display: inline-block;
  animation: rotate 3s infinite;
  text-shadow: 0 0 5px;
}

.number {
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 5px #ddd;
  }
}

button.number {
  padding: 0px;
}

button {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.number:focus, .number:active {
  outline: none;
  border: thin solid #ddd;
}

.timer {
	color: #666;
  margin-top: 3px;
  margin-left: 3px;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
}

.game-done {
  width: 50%;

}

.home-page {
  text-align: center;
}

.start-game-button {
  margin: 20px;
}

.restart-button {
  margin: 25px;
}

@keyframes rotate {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

h1 {
  font-size: 48px;
  font-weight: bold;
}